body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ), url('./img/fondo_others.jpg'); 
    background-size: cover;
    background-position: center;
}

.headerRegistrarse {
    color: white;
    padding: 20px;
}

.anclaLogo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.anclaLogo span {
    margin-left: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
}

.seccionRegistrarse {
    background-color: #2A2A2A; 
    padding: 0px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 600px; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.tituloRegistrarse {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

#email, #password {
    font-size: 1rem;
    width: 23vw;
    height: 5vh;
    background-color: #2A2A2A;
    border: 2px solid #9F3647;
    border-radius: 30px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 20px;
    background-color: #9F3647;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-error {
    color: red;
    font-size: 0.8rem;
}

.ayuda {
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 1rem;
    color: #6d6d6d; 
    text-decoration: none;
}

[data-aos] {
    opacity: 0;
    transition-duration: 0.6s;
}

[data-aos].aos-init {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    #email, #password {
        width: 80vw; 
    }
    input[type="submit"] {
        padding: 15px; 
    }
    .ayuda {
        margin-top: 20px; 
    }
}
