/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #181419;
    color: white;
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #181419;
}

body::-webkit-scrollbar-thumb {
    background-color: #9F3647;
    border-radius: 6px; 
}

body::-webkit-scrollbar-track {
    background-color: #181419; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #9F3647;
    color: white;
    padding: 0; 
    margin-top: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 1rem 1rem;
    list-style-type: none;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.iniciar {
    background-color: black;
    padding: 6px 10px; /* Reducir el padding */
    border-radius: 5px;
    border: none;
}

.fixed-top {
    background-color: #9F3647; /* Color de fondo del navbar fijo */
}

.main {
    padding: 0px;
}

.tituloPrincipal {
    font-size: 3rem;
    margin-bottom: 20px;
}

.subtituloPrincipal {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.botonRegistrarse {
    background-color: #9F3647;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botonRegistrarse:hover {
    background-color: #ff6666;
}

.sectionPrincipal {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url('./img/img1.avif'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtituloPrincipal {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.botonRegistrarse {
    background-color: #9F3647;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s, transform 0.5s; 
}

.botonRegistrarse:hover {
    background-color: #9F3647;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(0.95); 
}

.peliculasTendencia {
    padding: 40px 0;
}

.tituloSection {
    font-size: 2rem;
    margin-bottom: 20px;
}

.pelicula {
    margin-bottom: 20px;
}

.pelicula img {
    max-width: 100%;
    height: auto;
}

.tituloPelicula {
    margin-top: 10px;
}

.boton {
    background-color: #9F3647;
    color: black;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #9F3647;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.seccion:hover {
    color: white;
    background-color: #9F3647;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
}

.iniciar:hover {
    color: white;
    background-color: #9F3647;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.buscadorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh; 
    padding: 0 25vw; 
}

.tituloSection {
    margin-bottom: 20px;
}

.inputBuscador {
    margin-bottom: 10px;
}

.botonBuscador {
    background-color: #9F3647;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botonBuscador:hover {
    background-color: #ff6666;
}

.pelicula {
    position: relative; 
    border-radius: 10px;
    overflow: hidden; 
}

.pelicula img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: filter 0.3s; 
}

.pelicula:hover img {
    filter: blur(20px);
}

.tituloPelicula {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s, font-size 0.3s;
}

.pelicula:hover .tituloPelicula {
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 700;
}

.buscadorPrincipal {
    margin-bottom: 20px;
}

.tituloSection {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.buscadorPeliculas {
    margin-top: 30px;
    display: inline-block; 
}

.inputBuscador {
    padding: 10px 140px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.botonBuscador {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 2px solid white;
    background-color: #9F3647;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    vertical-align: middle;
}

.botonBuscador:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.gallery-wrapper {
    margin: 5rem; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

.gallery_contenido {
    display: flex;
    flex-wrap: nowrap; 
    margin-bottom: -20px; 
}

.gallery-item {
    flex: 0 0 auto;
    width: calc(100% / 8); 
    height: auto;
    white-space: normal;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.gallery-wrapper::-webkit-scrollbar {
    height: 12px; 
    background-color: transparent; 
}

.gallery-wrapper::-webkit-scrollbar-thumb {
    background-color: #9F3647; 
    border-radius: 6px; 
}


.separator {
    border: 1px solid #ff607d;
    height: 1px; 
    background-color: #ff607d;
    width: 80%; 
    margin: 0 auto; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}


.footer {
    background-color: #9F3647;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; 
}

.admin-link {
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

#api-movies {
    margin-top: 100px;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column; 
        height: auto; 
    }
    
    nav ul li {
        display: block; 
        margin: 10px 0; 
        text-align: center; 
    }
    
    .admin-link {
        margin-top: 20px; 
    }
}


@media (max-width: 768px) {
    .tituloPrincipal {
        font-size: 2.5rem;
    }
    
    .subtituloPrincipal {
        font-size: 1.2rem; 
    }
    
    .botonRegistrarse {
        padding: 10px 15px; 
        font-size: 1rem; 
    }
}

@media (max-width: 768px) {
    .inputBuscador {
        padding: 0.3em 1.5em; 
        width: 100%; 
    }

    .botonBuscador {
        padding: 0.3em 1em; 
    }
}

@media (max-width: 1200px) {
    .gallery-wrapper {
        margin: 1rem; 
    }
    
    .gallery-item {
        width: calc(100% / 6); 
    }
}

@media (max-width: 768px) {
    .gallery-wrapper {
        margin: 0.5rem; 
    }

    .gallery-item {
        width: calc(100% / 4); 
    }
}

@media (max-width: 576px) {
    .gallery-wrapper {
        margin: 0.2rem;
    }

    .gallery-item {
        width: calc(100% / 2); 
    }
}